.card {
    padding: 1em 1em 2em 1em;
    width: 17em;
    text-align: center;
    background-color: lightblue;
    margin: 3em auto;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.card dd {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 1em;
    color: rgb(34, 49, 54);
}

.card .emoji {
    font-size: 1.5em;
}

.card .name {
    line-height: 3em;
    font-weight: bold;
    font-size: 1.3em;
    color: rgb(48, 86, 97);
    font-family: monospace;
}

.dictionary {
    display: flex;
}

@media (max-width:1024px) {
    .dictionary {
        display: block;
    }
    .card {
        padding: 1em 1em 2em 1em;
        width: 35em;
    }
    .card .name {
        line-height: 3em;
        font-weight: bold;
        font-size: 2.5em;
    }
    .card dd {
        font-size: 1.8em;
        line-height: 1.5em;
    }
}